---
layout: layouts/base.njk
lang: sq
title: Udhëzuesi i mjeteve
seo_title: "Udhëzuesi i mjeteve: si funksionojnë mjetet falas të Stiven Catalyst"
description: "Udhëzues i shkurtër për katërmbëdhjetë mjetet falas: pse janë një sistem diellor, për çfarë shërben çdo familje dhe si përdoret çdo mjet."
livePages: guide
activeNav: /sq/publications.html
ogType: book
ogImage: /media/guides/tools-guide/sq/social.jpg
permalink: /sq/guides/tools-guide.html
---
{% include "pages/guide.njk" %}
