---
layout: layouts/base.njk
lang: de
title: Über mich
description: "Die Philosophie hinter Stiven Catalyst: Klarheit, Menschen, Systeme und Veränderung."
activeNav: /de/about.html
permalink: /de/about.html
alt: /about.html
---
{% include "pages/about.njk" %}
