---
layout: layouts/base.njk
lang: de
activeNav: /de/
permalink: /de/index.html
description: "Stiven Catalyst ist eine unabhängige Publikation über Führung, Betrieb, Menschen, Systeme und praktische Veränderung."
---
{% include "pages/home.njk" %}
