---
layout: layouts/base.njk
lang: de
title: Insights
description: Essays und praktisches Denken über Führung, Betrieb, Menschen und Management.
activeNav: /de/insights.html
permalink: /de/insights.html
---
{% include "pages/insights.njk" %}
