---
layout: layouts/base.njk
lang: de
title: Projekte
description: Ausgewählte Systeme, Tools und Betriebsprojekte von Stiven Janaqi.
activeNav: /de/projects.html
permalink: /de/projects.html
---
{% include "pages/projects.njk" %}
