---
layout: layouts/base.njk
lang: de
title: Publikationen
description: "Bücher, Leitfäden und ein monatliches Magazin von Stiven Catalyst: das Buch Mall për Durrësin, der Werkzeug-Leitfaden und ein Magazin über Führung."
activeNav: /de/publications.html
permalink: /de/publications.html
---
{% include "pages/publications.njk" %}
