---
layout: layouts/base.njk
lang: de
title: Reflexionen
description: Persönliche Essays über Aufmerksamkeit, Menschen und die leise Seite von Führung.
activeNav: /de/reflections.html
permalink: /de/reflections.html
---
{% include "pages/reflections.njk" %}
