---
layout: layouts/base.njk
lang: de
title: Suche
description: "Die Essays, Reflexionen, Field Notes und Tools von Stiven Catalyst durchsuchen."
permalink: /de/search.html
noindex: true
eleventyExcludeFromCollections: true
---
{% include "pages/search.njk" %}
