---
layout: layouts/base.njk
lang: sq
permalink: "/sq/magazine/management-review-2026-09.html"
activeNav: /sq/publications.html
ogType: article
eleventyComputed:
  title: "{{ review.sq.theme }}"
  seo_title: "Management Review, {{ review.sq.date }}: {{ review.sq.theme }}"
  description: "{{ review.sq.sub }} {{ review.sq.feature }}"
  ogImage: "/media/magazine/management-review-2026-09/sq/social.jpg"
---
{% include "pages/review.njk" %}
