---
layout: layouts/base.njk
lang: sq
permalink: "/sq/magazine/management-review-2026-09.html"
reviewPages: true
activeNav: /sq/publications.html
ogType: article
eleventyComputed:
  title: "{{ review.sq.theme | safe }}"
  seo_title: "Management Review, {{ review.sq.date | safe }}: {{ review.sq.theme | safe }}"
  description: "{{ review.sq.seo | safe }}"
  ogImage: "/media/magazine/management-review-2026-09/sq/social.jpg"
---
{% include "pages/review.njk" %}
