---
layout: layouts/base.njk
lang: sq
pagination:
  data: weekly.issues
  size: 1
  alias: issue
  addAllPagesToCollections: true
permalink: "/sq/magazine/{{ issue.slug }}.html"
reviewPages: true
activeNav: /sq/publications.html
ogType: article
eleventyComputed:
  title: "{{ issue.sq.heading | safe }}"
  seo_title: "Management Review Nr. {{ issue.no | safe }}: {{ issue.sq.heading | safe }}"
  description: "{{ issue.sq.seo | safe }}"
  ogImage: "/media/magazine/{{ issue.slug | safe }}/sq/social.jpg"
---
{% include "pages/weekly-issue.njk" %}
