---
layout: layouts/base.njk
lang: de
pagination:
  data: magazine.issues
  size: 1
  alias: issue
  addAllPagesToCollections: true
permalink: "/de/magazine/{{ issue.slug }}.html"
activeNav: /de/publications.html
ogType: article
eleventyComputed:
  title: "{{ issue.de.theme | safe }}"
  seo_title: "Aus der Praxis, Ausgabe {{ issue.number | safe }}: {{ issue.de.theme | safe }}"
  description: "{{ issue.de.trend.lead | safe }}"
  ogImage: "/media/magazine/{{ issue.slug | safe }}/de/social.jpg"
---
{% include "pages/magazine-issue.njk" %}
