---
layout: layouts/base.njk
lang: de
permalink: "/de/magazine/management-review-2026-09.html"
activeNav: /de/publications.html
ogType: article
eleventyComputed:
  title: "{{ review.de.theme }}"
  seo_title: "Management Review, {{ review.de.date }}: {{ review.de.theme }}"
  description: "{{ review.de.sub }} {{ review.de.feature }}"
  ogImage: "/media/magazine/management-review-2026-09/de/social.jpg"
---
{% include "pages/review.njk" %}
