---
layout: layouts/base.njk
lang: de
permalink: "/de/magazine/management-review-2026-09.html"
livePages: review
activeNav: /de/publications.html
ogType: article
eleventyComputed:
  title: "{{ review.de.theme | safe }}"
  seo_title: "Management Review, {{ review.de.date | safe }}: {{ review.de.theme | safe }}"
  description: "{{ review.de.seo | safe }}"
  ogImage: "/media/magazine/management-review-2026-09/de/social.jpg"
---
{% include "pages/review.njk" %}
