---
layout: layouts/base.njk
lang: de
pagination:
  data: weekly.issues
  size: 1
  alias: issue
  addAllPagesToCollections: true
permalink: "/de/magazine/{{ issue.slug }}.html"
livePages: review
activeNav: /de/publications.html
ogType: article
eleventyComputed:
  title: "{{ issue.de.heading | safe }}"
  seo_title: "Management Review Nr. {{ issue.no | safe }}: {{ issue.de.heading | safe }}"
  description: "{{ issue.de.seo | safe }}"
  ogImage: "/media/magazine/{{ issue.slug | safe }}/de/social.jpg"
---
{% include "pages/weekly-issue.njk" %}
