---
layout: layouts/base.njk
pagination:
  data: weekly.issues
  size: 1
  alias: issue
  addAllPagesToCollections: true
permalink: "/magazine/{{ issue.slug }}.html"
activeNav: /publications.html
ogType: article
eleventyComputed:
  title: "{{ issue.en.heading }}"
  seo_title: "Management Review No. {{ issue.no }}: {{ issue.en.heading }}"
  description: "{{ issue.en.seo }}"
  ogImage: "/media/magazine/{{ issue.slug }}/en/social.jpg"
---
{% include "pages/weekly-issue.njk" %}
