---
layout: layouts/base.njk
pagination:
  data: weekly.issues
  size: 1
  alias: issue
  addAllPagesToCollections: true
permalink: "/magazine/{{ issue.slug }}.html"
reviewPages: true
activeNav: /publications.html
ogType: article
eleventyComputed:
  title: "{{ issue.en.heading | safe }}"
  seo_title: "Management Review No. {{ issue.no | safe }}: {{ issue.en.heading | safe }}"
  description: "{{ issue.en.seo | safe }}"
  ogImage: "/media/magazine/{{ issue.slug | safe }}/en/social.jpg"
---
{% include "pages/weekly-issue.njk" %}
