---
layout: layouts/base.njk
title: About
description: "The philosophy behind Stiven Catalyst: clarity, people, systems and change."
activeNav: /about.html
permalink: /about.html
---
{% include "pages/about.njk" %}
