---
layout: layouts/base.njk
title: Projects
description: Selected systems, tools and operational projects by Stiven Janaqi.
activeNav: /projects.html
permalink: /projects.html
---
{% include "pages/projects.njk" %}
