---
layout: layouts/base.njk
title: Reflections
description: Personal essays on attention, people and the quiet side of leadership.
activeNav: /reflections.html
permalink: /reflections.html
---
{% include "pages/reflections.njk" %}
