---
layout: layouts/base.njk
pagination:
  data: families
  size: 1
  alias: family
  addAllPagesToCollections: true
activeNav: /tools.html
permalink: "/roles/{{ family.slug }}/"
eleventyComputed:
  title: "{{ family.role | safe }}"
  description: "{{ family.line | safe }}"
---
{% include "partials/role-page.njk" %}
