---
layout: layouts/base.njk
title: Search
description: "Search the essays, reflections, field notes and tools of Stiven Catalyst."
permalink: /search.html
noindex: true
eleventyExcludeFromCollections: true
---
{% include "pages/search.njk" %}
