---
layout: layouts/base.njk
lang: sq
title: Rreth meje
description: "Filozofia pas Stiven Catalyst: qartësia, njerëzit, sistemet dhe ndryshimi."
activeNav: /sq/about.html
permalink: /sq/about.html
---
{% include "pages/about.njk" %}
