---
layout: layouts/base.njk
lang: sq
description: "Stiven Catalyst është një publikim i pavarur për udhëheqjen, operacionet, njerëzit, sistemet dhe ndryshimin praktik."
activeNav: /sq/
permalink: /sq/index.html
---
{% include "pages/home.njk" %}
