---
layout: layouts/base.njk
lang: sq
title: Projekte
description: Sisteme, mjete dhe projekte operative të përzgjedhura nga Stiven Janaqi.
activeNav: /sq/projects.html
permalink: /sq/projects.html
---
{% include "pages/projects.njk" %}
