---
layout: layouts/base.njk
lang: sq
title: Botime
description: "Libra, udhëzues dhe një revistë mujore nga Stiven Catalyst: libri Mall për Durrësin, Udhëzuesi i mjeteve dhe një revistë për menaxhimin."
activeNav: /sq/publications.html
permalink: /sq/publications.html
---
{% include "pages/publications.njk" %}
