---
layout: layouts/base.njk
lang: sq
title: Botime
description: "Libra, udhëzues dhe revista nga Stiven Catalyst: Management Review çdo javë, revista mujore, libri Mall për Durrësin dhe Udhëzuesi i mjeteve."
activeNav: /sq/publications.html
permalink: /sq/publications.html
---
{% include "pages/publications.njk" %}
