---
layout: layouts/base.njk
lang: sq
pagination:
  data: families
  size: 1
  alias: family
  addAllPagesToCollections: true
activeNav: /sq/tools.html
permalink: "/sq/roles/{{ family.slug }}/"
eleventyComputed:
  title: "{{ family.role | t('sq') | safe }}"
  description: "{{ family.line | t('sq') | safe }}"
---
{% include "partials/role-page.njk" %}
