---
layout: layouts/base.njk
lang: sq
title: Fillo këtu
description: "I ri te Stiven Catalyst? Tri ese, një mjet dhe një shënim nga terreni: dhjetë minutat e para për udhëheqjen e njerëzve dhe operacionet."
permalink: /sq/start.html
---
{% include "pages/start.njk" %}
